@model IEnumerable<Polizia.Models.ViolazioneSuperioreA10Punti>

@{
    ViewBag.Title = "ViolazioniSuperioriA10Punti";
}

<h2>ViolazioniSuperioriA10Punti</h2>


<div class="container colCont p-3 rounded-5">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Importo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataViolazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecurtamentoPunti)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Importo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cognome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataViolazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecurtamentoPunti)
                </td>
                
            </tr>
        }

    </table>
</div>
